@import './_variables.css';

.--brand:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--brand);
}

.--grey-1:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--grey-1);
}

.--grey-2:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--grey-2);
}

.--grey-3:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--grey-3);
}

.--grey-4:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--grey-4);
}

.--color-type-body:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--grey-2);
}

.--success:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--success);
}

.--atenttion:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--atenttion);
}

.--wait:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--wait);
}

.--error:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 3px;
  margin-right: 0.5em;
  background-color: let(--error);
}

.--base-font-family {
  font-family: let(--base-font-family);
}

.--headers-font-family {
  font-family: let(--headers-font-family);
}

